nav {
    background-color: black;
    height: 89px;
    
}

ul {
    padding: 33px;
    font-size: 20px;
    margin: -5px;
}

.nav a {
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
}

.nav a:hover {
    font-size: 22px;
	color: rgb(245, 209, 92);
}


