nav {
    display: flex;
    /* grid-template-columns: 20% 80%; */
    background-color: black;
    height: 84px;
    outline: 5px solid #f4825f
}

ul {
    padding: 25px;
    font-size: 20px;
    margin: -5px;
}

.nav a {
    grid-column-start: 2;
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
}

.nav a:hover {
    font-size: 22px;
    color: #f4825f;
}

.logo img {
    grid-column: 1;
    width: 100px;
}

.nav-list {
    display: flex;
    width: 50vw;
    justify-content: space-between;
}

.nav-home {
    padding: 0px 0px 0px 485px;
}




