nav {
    background-color: black;
    height: 89px;
    
}

ul {
    padding: 30px;
    font-size: 20px;
    margin: -5px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
}

a:hover {
    font-size: 22px;
	color: rgb(245, 209, 92);
}


