.board {
    display: grid;
    grid-template-columns: 20% 16% 30% 20% 20%;
    grid-template-rows: 40% 20% 100% 20% 20%;
}

.board h1 {
    grid-row: 1;
    grid-column: 3;
    font-family: 'Times New Roman', Times, serif
}

.board h2 {
    grid-row: 2;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.listy a {
    grid-row: 3;
    color: black;
    padding: 15px;
    display: table-cell;
    float: left;
    clear: left;
}

.listy img {
    grid-row: 3;
}